<main id="wrapper" class="wrapper">
  <section class="wrapper-bottom-sec">
      <div class="p-30">
          <h2 class="page-title">Add New Holiday</h2>
      </div>
      <div class="p-30 p-t-none p-b-none">
        <div class="row">
          <div class="col-lg-6">
              <div class="panel">
                  <div class="panel-body">
                      <%= form_with(model: holiday, local: true) do |form| %>
                          <div class="panel-heading">
                              <h3 class="panel-title">Add New Holiday</h3>
                          </div>
                          <div class="form-group">
                              <label>Date</label>
                              <%= form.text_field :date, class: "form-control" %>
                          </div>
                          <div class="form-group">
                              <label>Occasion</label>
                              <%= form.text_field :occasion, class: "form-control" %>
                          </div>
                          <%= form.submit "Add", class: "btn btn-success btn-sm pull-right" %> 
                      <% end %>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </section>
</main>