
    
    
    <section class="wrapper-bottom-sec">
        <div class="p-30">
            <h2 class="page-title">Update Attendance</h2>
        </div>
        <div class="p-30 p-t-none p-b-none">

                        <div class="row">

                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-body">
                            <form class="" role="form" action="http://coderpixel.com/demo/advanced-hrm/attendance/post-update-attendance" method="post">
                                <div class="panel-heading">
                                    <h3 class="panel-title"> Update Attendance</h3>
                                </div>

                                <div class="form-group">
                                    <label>Employee</label>
                                    <select class="selectpicker form-control" data-live-search="true" name="employee">
                                        <option value="3">Abul Kashem Shamim (5874698)</option>
                                                                                    <oue="23">ramy ramadan (1233)</option>
                                                                                    <option value="24">hafsa mansuri (331)</option>
                                                                                    <option value="25">Bill Jackie (BJ007)</option>
                                                                                    <option value="26">Shiva Kant Mishra (1002)</option>
                                                                                    <option value="27">FRFR FGR (11HTGG)</option>
                                                                                    <option value="28">h1 student h1 student (10001)</option>
                                                                                    <option value="29">Alvin WIjaya (45321)</option>
                                                                                    <option value="30">test test (test)</option>
                                                                                    <option value="31">Mr. k (666)</option>
                                                                                    <option value="32">N GOLO  KEITA (90587604)</option>
                                                                                    <option value="33">ankita dangi (1234)</option>
                                                                            </select>
                                </div>


                                <div class="form-group">
                                    <label>Date</label>
                                    <input type="text" class="form-control datePicker" name="date" required="" value="17th Mar 18">
                                </div>

                                <div class="form-group">
                                    <label>Clock In</label>
                                    <input type="text" class="form-control timePicker" required name="clock_in" value="09:25 AM">
                                </div>

                                <div class="form-group">
                                    <label>Clock Out</label>
                                    <input type="text" class="form-control timePicker" required name="clock_out" value="05:25 PM">
                                </div>


                                <input type="hidden" name="_token" value="ltCweRBS4Hff6nXuisVcqFkG9qL5sBYvKPXFHQgx">
                                <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Update </button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>


  