<section class="wrapper-bottom-sec">
    <div class="p-30">
        <h2 class="page-title">View Profile</h2>
    </div>
    <div class="p-30 p-t-none p-b-none">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-body p-t-20">
                        <div class="clearfix">
                            <div class="pull-left m-r-30">
                                <div class="thumbnail m-b-none">
                                    <img src="http://coderpixel.com/demo/advanced-hrm/assets/employee_pic/user.png" alt="Profile Page" width="200px" height="200px">
                                </div>
                            </div>
                            <div class="pull-left">
                                <h3 class="bold font-color-1">h1 student h1 student</h3>
                                <ul class="info-list">
                                    <li><span class="info-list-title">Email</span><span class="info-list-des">h1student@deneme.com</span></li>
                                    <li><span class="info-list-title">Username</span><span class="info-list-des">h1 student</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-30 p-t-none p-b-none">
        <div class="row">
            <div class="col-lg-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#personal_details" aria-controls="home" role="tab" data-toggle="tab">Personal Details</a></li>
                    <li role="presentation"><a href="#bank_information" aria-controls="profile" role="tab" data-toggle="tab">Bank Info</a></li>
                    <li role="presentation"><a href="#document" aria-controls="messages" role="tab" data-toggle="tab">Document</a></li>
                    <li role="presentation"><a href="#change-picture" aria-controls="settings" role="tab" data-toggle="tab">Change Picture</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content panel p-20">
                    <div role="tabpanel" class="tab-pane active" id="personal_details">
                       <%=  render "form", admin_employee: @admin_employee %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="bank_information">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="panel">
                                    <div class="panel-body">
                                        <form class="" role="form" method="post" action="http://coderpixel.com/demo/advanced-hrm/employee/add-bank-account">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"> Add Bank Account</h3>
                                            </div>

                                            <div class="form-group">
                                                <label>Bank Name</label>
                                                <span class="help">e.g. "United State Bank"</span>
                                                <input type="text" class="form-control" required name="bank_name">
                                            </div>

                                            <div class="form-group">
                                                <label>Branch Name</label>
                                                <span class="help">e.g. "Washington Branch"</span>
                                                <input type="text" class="form-control" required name="branch_name">
                                            </div>

                                            <div class="form-group">
                                                <label>Account Name</label>
                                                <span class="help">e.g. "Abul Kashem Shamim"</span>
                                                <input type="text" class="form-control" required name="account_name">
                                            </div>

                                            <div class="form-group">
                                                <label>Account Number</label>
                                                <span class="help">e.g. "1015463115661214"</span>
                                                <input type="text" class="form-control" required name="account_number">
                                            </div>

                                            <div class="form-group">
                                                <label>IFSC Code</label>
                                                <input type="text" class="form-control" name="ifsc_code">
                                            </div>

                                            <div class="form-group">
                                                <label>PAN Number</label>
                                                <input type="text" class="form-control" name="pan_number">
                                            </div>

                                            <input type="hidden" name="_token" value="pBMHGiNmnECsLu725vngfmhFjQNCd6pE83DHcDO4">
                                            <input type="hidden" value="28" name="cmd">
                                            <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i> Add </button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">All Bank Accounts</h3>
                                    </div>
                                    <div class="panel-body p-none">
                                        <table class="table data-table table-hover table-ultra-responsive">
                                            <thead>
                                            <tr>
                                                <th style="width: 25%;">Bank Name</th>
                                                <th style="width: 20%;">Branch</th>
                                                <th style="width: 20%;">Account Name</th>
                                                <th style="width: 10%;">Account No</th>
                                                <th style="width: 10%;">IFSC Code</th>
                                                <th style="width: 10%;">PAN No</th>
                                                <th style="width: 5%;" class="text-right"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                        	</tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="document">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="panel">
                                    <div class="panel-body">
                                        <form class="" role="form" method="post" action="http://coderpixel.com/demo/advanced-hrm/employee/add-document" enctype="multipart/form-data">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"> Add Document</h3>
                                            </div>

                                            <div class="form-group">
                                                <label>Document Name</label>
                                                <span class="help">e.g. "Resume, Joining Letter etc"</span>
                                                <input type="text" class="form-control" required name="document_name">
                                            </div>

                                            <div class="form-group">
                                                <label>Select Document</label>
                                                <div class="input-group input-group-file">
                                                        <span class="input-group-btn">
                                                            <span class="btn btn-primary btn-file">
                                                                Browse <input type="file" class="form-control" name="file">
                                                            </span>
                                                        </span>
                                                    <input type="text" class="form-control" readonly="">
                                                </div>
                                            </div>

                                            <input type="hidden" name="_token" value="pBMHGiNmnECsLu725vngfmhFjQNCd6pE83DHcDO4">
                                            <input type="hidden" value="28" name="cmd">
                                            <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i> Add </button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">All Documents</h3>
                                    </div>
                                    <div class="panel-body p-none">
                                        <table class="table data-table table-hover table-ultra-responsive">
                                            <thead>
                                            <tr>
                                                <th style="width: 65%;">Document Name</th>
                                                <th style="width: 35%;" class="text-right">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-label="Document Name">test</td>
                                                    <td class="text-right">
                                                        <a href="http://coderpixel.com/demo/advanced-hrm/employee/download-employee-document/10" class="btn btn-success btn-xs"><i class="fa fa-download"></i> Download</a>
                                                        <a href="#" class="btn btn-danger btn-xs deleteEmployeeDoc" id="10"><i class="fa fa-trash"></i> Delete</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="change-picture">
                        <form role="form" action="http://coderpixel.com/demo/advanced-hrm/employees/update-employee-avatar" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group input-group input-group-file">
                                            <span class="input-group-btn">
                                                <span class="btn btn-primary btn-file">
                                                    Browse <input type="file" class="form-control" name="image">
                                                </span>
                                            </span>
                                        <input type="text" class="form-control" readonly="">
                                    </div>
                                    <input type="hidden" name="_token" value="pBMHGiNmnECsLu725vngfmhFjQNCd6pE83DHcDO4">
                                    <input type="hidden" value="28" name="cmd">
                                    <input type="submit" value="Update" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
