<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"> Add Employee</h3>
        </div>
        <%= render "devise/registrations/new", locals: { resource: current_user, :resource_name => User } %>
    </div>
</div>


