<section class="wrapper-bottom-sec">
    <div class="p-30">
        <h2 class="page-title">Employee Summery</h2>
    </div>
    <div class="p-30 p-t-none p-b-none">
        <div class="row">
            <div class="col-lg-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">aaa bbb </h3>
                    </div>
                    <div class="panel-body">
                        <div class="thumbnail-user m-b-5">
                            <img class="p-2 bg-complete" src="http://coderpixel.com/demo/advanced-hrm/assets/employee_pic/user.png" alt="Profile Page" width="200px" height="200px">
                        </div>
                        <div class="form-block">
                            <div class="form-group">
                                <label>First Name:</label>
                                <span>aaa</span>
                            </div>
                            <div class="form-group">
                                <label>Last Name:</label>
                                <span>bbb</span>
                            </div>
                            <div class="form-group">
                                <label>Employee Code:</label>
                                <span>0001</span>
                            </div>
                            <div class="form-group">
                                <label>User Name:</label>
                                <span>111</span>
                            </div>
                            <div class="form-group">
                                <label>Department:</label>
                                <span>111</span>
                            </div>
                            <div class="form-group">
                                <label>Designation:</label>
                                <span>Manager</span>
                            </div>
                            <div class="form-group">
                                <label>Email:</label>
                                <span>111@111.com</span>
                            </div>
                            <div class="form-group">
                                <label>Father Name:</label>
                                <span></span>
                            </div>
                            <div class="form-group">
                                <label>Mother Name:</label>
                                <span></span>
                            </div>
                            <div class="form-group">
                                <label>Date Of Birth:</label>
                                <span></span>
                            </div>
                            <div class="form-group">
                                <label>Date Of Join:</label>
                                <span></span>
                            </div>
                            <div class="form-group">
                                <label>Phone:</label>
                                <span></span>
                            </div>
                            <div class="form-group">
                                <label>Alternative Phone:</label>
                                <span></span>
                            </div>
                            <div class="form-group">
                                <label>Present Address:</label>
                                <span></span>
                            </div>
                            <div class="form-group">
                                <label>Permanent Address:</label>
                                <span></span>
                            </div>
                            <div class="form-group">
                                <label>Status:</label>
                                <span class="label label-success">active</span>
                            </div>
                            <div class="form-group">
                                <label>Gender:</label>
                                <span>Male</span>
                            </div>
                            <div class="form-group">
                                <label>Payment Type:</label>
                                <span>Monthly</span>
                            </div>
                            <div class="form-group">
                                <label>Basic Salary:</label>
                                <span>USD 0</span>
                            </div>
                            <div class="form-group">
                                <label>Overtime Salary:</label>
                                <span>USD 0</span>
                                <span class="help">Hourly</span>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Leave</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table data-table table-hover table-ultra-responsive">
                            <thead>
                            <tr>
                                <th style="width: 10%;">SL#</th>
                                <th style="width: 30%;">Leave Type</th>
                                <th style="width: 20%;">Leave From</th>
                                <th style="width: 20%;">Leave To</th>
                                <th style="width: 20%;">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Provident Fund</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table data-table table-hover table-ultra-responsive">
                            <thead>
                            <tr>
                                <th style="width: 40%;">Provident Fund Type</th>
                                <th style="width: 20%;">Employee Share</th>
                                <th style="width: 20%;">Organization Share</th>
                                <th style="width: 20%;">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Loan</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table data-table table-hover table-ultra-responsive">
                            <thead>
                            <tr>
                                <th style="width: 25%;">Title</th>
                                <th style="width: 15%;">Loan Date</th>
                                <th style="width: 15%;">Repayment Start Date</th>
                                <th style="width: 15%;">Amount</th>
                                <th style="width: 15%;">Remaining Amount</th>
                                <th style="width: 15%;">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Award</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table data-table table-hover table-ultra-responsive">
                            <thead>
                            <tr>
                                <th style="width: 15%;">SL#</th>
                                <th style="width: 30%;">Award Name</th>
                                <th style="width: 30%;">Gift</th>
                                <th style="width: 25%;">Month</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

