<section class="wrapper-bottom-sec">
    <div class="p-30">
        <h2 class="page-title">View Department</h2>
    </div>
    <div class="p-30 p-t-none p-b-none">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel">
                    <div class="panel-body">
						<%= render 'form', admin_support_department: @admin_support_department %>
					</div>
                </div>
            </div>
        </div>
    </div>
</section>