<%= form_for Admin::Document.new,  html: { multipart: true } do |form| %>
    <div class="form-group">
        <label>Document Name</label>
        <span class="help">e.g. "Resume, Joining Letter etc"</span>
        <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
        <label>Select Document</label>
        <div class="input-group input-group-file">
            <span class="input-group-btn">
                    <%= form.file_field :attachment, class: "form-control btn btn-primary " %>
            </span>
        </div>
    </div>
    <%= form.submit "Add", class: "btn btn-success btn-sm pull-right" %>
<% end %>